.card {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
}

.link {
    text-decoration: none;
    color: black;
}

.caption {
    display: flex;
    justify-content: end;
}