
$primary: #282828;
$primary-darker: #121212;
$primary-dark: #000000;
$secondary: #320064;
$secondary-darker: #230046;
$font-family: "R";

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;

  font: {
    family: "Arial";
    size: 18px;
  }
  color: white;
}

header {
  width: 100%;
  background-color: $primary-darker;

  nav {
    display: flex;
    align-items: center;

    .logo {
      height: 40px;
      margin: 5px;
    }

    ol {
      list-style: none;
      display: flex;
      padding-left: 200px;

      li {
        margin: 5px;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

main {
  flex: 1;
  background-color: $primary;
  display: flex;
  flex-direction: column;

  .container {
    margin: 5px;
    min-height: 340px;
    background-color: $primary-darker;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .header {
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      background-color: $primary;
      display: flex;
      justify-content: space-between;

      label {
        padding: 2px;
      }

      a {
        padding: 5px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 15px;
        background-color: $primary-dark;
      }
    }
  }
}

.film-list {
  flex: 1;
  margin: 5px;
  background-color: $primary;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;

  .film-item {
    margin: 5px;
    width: 200px;
    height: 280px;
    background-color: $primary-darker;
    border-radius: 5px;
    border: 3px solid $primary-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    .film-image {
      width: 180px;
      height: 200px;
      margin: 10px;
      border-radius: 5px;
    }

    .film-name {
    }

    .film-description {
      text-align: center;
      margin-left: 2px;
      margin-right: 2px;
      color: lightgray;
      font-size: 14px;
    }
  }
}

@media (max-width: 660px) {
  .film-item {
    width: 46% !important;
  }
}

@media (max-width: 550px) {
  .film-item {
    width: 98% !important;
  }
}

footer {
  background-color: $primary-darker;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    label {
      margin: 5px
    }
  }
}
